.NewStudent {
    flex: 4;
    margin-left: 20px;
}

.NewStudentTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NewStudentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NewStudentItemDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.newStudentItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.newStudentItem>label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.newStudentSelect {
    height: 40px;
    border-radius: 5px;
    width: 105%;
}

.newStudentItem>input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.NewStudentGender>input {
    margin-top: 15px;
}

.NewStudentGender>label {
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.NewStudentGenderItem {
    display: flex;
    align-items: center;

    margin-top: 10px;
}

.NewStudentSelect {
    height: 40px;
    border-radius: 5px;
    border-bottom: 1px solid gray;
}

.NewStudentButton {
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .newStudentItem {
        width: 95% !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .newStudent {
        margin-left: 0 !important;
    }

    .newStudentItem>input {
        width: 90% !important;
    }

    .newStudentSelect {
        width: 100% !important;
    }

}