.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #555;
}

.topbarWrapper {
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
    margin-left: 15px;
}

.topRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topbarIconItem {
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    color: #555;
}

.topIconBadge {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -11px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topbarButton {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    color: #555;
    margin-left: 10px;
    margin-right: 10px;
}

.topAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}

.menuIcon {
    display: none !important;
}

@media (max-width: 768px) {
    .topbarWrapper {
        padding: 0px 0px;
    }

    .topbarIconContainer {
        display: none;
    }

    .topAvatar {
        margin-left: 0px;
        margin-right: 10px;
    }

    .menuIcon {
        display: block !important;
        margin-right: 5px !important;
    }
    .logo {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .logo {
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    
}