.newBatch {
    flex: 4;
    margin-left: 20px;
}

.newBatchTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newBatchItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newBatchSelect {
    height: 40px;
    border-radius: 5px;
    border-bottom: 1px solid gray;
}

.newBatchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.newBatchItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.newBatchItem>label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.newBatchItem>input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.newBatchGender>input {
    margin-top: 15px;
}

.newBatchGender>label {
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newBatchGenderItem {
    display: flex;
    align-items: center;

    margin-top: 10px;
}

.newBatchSelect {
    height: 40px;
    width: 105%;
    border-radius: 5px;
    border-bottom: 1px solid gray;
}

.newBatchButton {
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .newBatchItem {
        width: 95% !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .newBatch {
        margin-left: 0 !important;
    }

    .newBatchItem>input {
        width: 90% !important;
    }

    .newBatchSelect {
        width: 100% !important;
    }

}